<html>
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>收银台</title>
</head>
<body >
<div class="wrap" style="text-align: center;">
    <img style="margin: 140px auto 40px;" class="success_logo" src="/static/pay/ic_{$state}.png" width="100px;" />
    <div class="money" style="margin: 10px;font-size: 24px;">{$message}</div>
    <div class="line"></div>
</div>

</body>
</html>